<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fabriziodemaria.thehangover" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainGame"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameOn"
            android:label="@string/title_activity_game_on"
            android:parentActivityName=".MainGame"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fabriziodemaria.thehangover.MainGame" />
        </activity>
        <activity
            android:name=".RoomSelection"
            android:label="@string/title_activity_room_selection"
            android:parentActivityName=".MainGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fabriziodemaria.thehangover.MainGame" />
        </activity>
        <service
            android:name=".ConnectionService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>